<!DOCTYPE html>
<html>
 
<h1>UrlConstruct#index</h1>
<p>Find me in app/views/url_construct/index.html.erb</p>
<p>JSON test </p>
<body>
<table>
  <% i = 0 %>
<% @forView.each do |display| %>
<tr>
  <td>
  <%= i%>
  <% i = i+1 %>
</td>
<td><%= display.dCourseNumber %></td>
</tr>
<% end %>
</table>
</body>
 
 
</html>