<!DOCTYPE html>
<html>
 
<h1>UrlConstruct#index</h1>
<p>Find me in app/views/url_construct/index.html.erb</p>
<p>JSON test </p>
<body>










 <%= button_to "2016 fall", url_construct_url2016FallCourses_path, method: :url2016FallCourses %>
 <%= button_to "2015 spring", url_construct_url2015SpringCourses_path, method: :url2015SpringCourses%>
 



</body>
 

</html>