<!DOCTYPE html>
<html>

<h1>UrlConstruct#index</h1>
<p>Clicking the buttons will generate all courses corresponding to the semesters below</p>
<p>Each click will take approximately 10 mins to generate. I woudlnt recomending clicking it </p>
<p>Database is not complete, tests for database will be implemented once database is completed</p>
<body>










 <%= button_to "2016 fall", url_construct_url2016FallCourses_path, method: :url2016FallCourses %>
 <%= button_to "2015 spring", url_construct_url2015SpringCourses_path, method: :url2015SpringCourses%>




</body>


</html>
