<div class="user-show">
  <p> Hello <%=@user.username %>, this is your profile: </p>

  <p>
    <strong>Name:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

</div>
