<h1>Schedule#index</h1>
<p>Find me in app/views/schedule/index.html.erb</p>

<p><a class = "hello" href="schedule/p1">Course Cart Schedule</a></p>
<p><a class = "hello" href="schedule/p2">Portfolio Schedule</a></p>
<form action="schedule/p1">
    <input type="submit" value="Course Cart Schedule" />
</form>
<form action="schedule/p2">
    <input type="submit" value="Portfolio Schedule" />
</form>
