<h1 class= "need-background"> <img class="sfu-logo" src="http://www.sfu.ca/~hongweil/images/sfu.png" alt="sfu-logo">Schedule Table</h1>
<span>Click on button to see the schedule of each course in your Portfolio</span>

<% if session[:user_name].present? %>
	<form action="schedule/p2">
 	   <input type="submit" value="Portfolio Schedule" />
	</form>
<% else %>
	<div class="login-notice">You need to be logged in to see the weekly schedule </div>
<% end %>
