<p id="notice"><%= notice %></p>

<h1>this is sfu planner!</h1>
<div class="sign-up-button"> 
	<a class="sign-up" href= "/users/new"> SIGN UP </a><br>
</div>
<div class="login-button"> 
	<a class="login" href= "/sessions/login"> LOGIN </a><br>
</div>