<p id="notice"><%= notice %></p>

<h1>this is sfu planner!</h1>
<div class="sign-up-button"> 
	<a class="sign-up" href= "/users/new"> SIGN UP </a><br>
</div>
<% if session[:user_name].present? %>

	<div class="logout-button"> 
		<a class="logout" href= "/sessions/logout"> LOGOUT </a><br>
	</div>
	<div class="become-admin-button">
		<a class="become-admin" href="/admin/new"> BECOME ADMIN </a>
	</div>

	Hello, <%=session[:user_name]%>!
<% else %>
	<div class="login-button"> 
		<a class="login" href= "/sessions/login"> LOGIN </a><br>
	</div>	
<% end %>