<h1>this is sfu planner!</h1>
<div class ="sign up button"> 
	<a class= :"Sign Up" href= "/users/new"> SIGN UP </a><br>
</div>
<div class ="login button"> 
	<a class= :"Login" href= "/users/login"> LOGIN </a><br>
</div>
