
<p>
  <strong>name:</strong>
  <%= course.name %>

  <%= link_to 'Destroy course', [course.faculty, course],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
