// Place all the styles related to the schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table.schedule {
  display: inline-block;
  border: 1px solid black;
}

.oRow:nth-child(odd) {
  background-color: #f2f2f2;
}

th.header{
  border: 1px solid black;
  text-align: center;
  line-height: 25px;
}

td.row {
  border: 1px solid black;
  font-size: 80%
}

td.odd {
  font-size: 80%
}

tr.oRow{
  line-height: 2px;
}
